.options-page .title {
  background-image: url('chrome-extension://__MSG_@@extension_id__/icon48.png');
  background-repeat: no-repeat;
  line-height: 48px;
  padding-left: 58px;
}

.options-page {
  padding-top: 48px;
  font-size: 20px;
}

.options-page .control {
  margin-bottom: 36px;
}

.separator {
  padding: 0 1em;
}

.about, .footer {
  border-top: 1px solid #dbdbdb;
  padding-top: 36px;
  margin-top: 36px;
}

.about {
  font-size: 16px;
  color: #555;
}

.about a {
  text-decoration: underline;
}

.about a:hover, .about a:focus {
  text-decoration: none;
}

.footer {
  font-size: 13px;
}

.header {
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 36px;
  margin-bottom: 36px;
}

.options-page .notification {
  position: absolute;
  width: 100%;
  top: 65px;
  padding-top: 8px;
  padding-bottom: 8px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  -webkit-transition: opacity 0.1s ease-in-out;
}

.options-page .radio {
  line-height: 20px;
}

.options-page .radio input[type="radio"] {
  margin-right: 3px;
  vertical-align: middle;
}

.options-page .radio + .radio {
  margin-left: 24px;
}

.content a:not(.button),
.content a:link:not(.button),
.content a:active:not(.button),
.content a:visited:not(.button) {
  color: #6164ae;
  border-bottom: none;
  -webkit-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}

.content a:hover:not(.button),
.content a:focus:not(.button) {
  color: #a56824;
}

.footer a:not(.icon):hover, .footer a:visited:not(.icon):hover {
  border-bottom-color: #7e80cf;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 500px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 8px;
  height: 7px;
  border: 1px solid #bdc3c7;
  background-color: #fff;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #a6a5df;
  border: 1px solid #7e80cf;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.volume-level {
  font-weight: normal;
}
