.title {
  background-image: url('chrome-extension://__MSG_@@extension_id__/icon48.png');
  background-repeat: no-repeat;
  line-height: 48px;
  padding-left: 58px;
}

.options-page {
  padding-top: 48px;
  font-size: 20px;
}
